<footer class="bgfooter text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <br/><br/>
  <p>
  	BogotáApp - All rigths reserved
  </p>
  <p>
	<%= image_tag("logos_todos.png", :alt => "Avalado por", style:"width: 100%;") %>
  </p>
  <br/><br/>
</footer>