<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="glyphicon glyphicon-menu-down"></span> 
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">
        <%= image_tag("bogotaapp_logo_mano1.png", :alt => "Bogotáapp", style:"height: 60px; width: 60px;") %>
      </a>
      &nbsp;&nbsp;&nbsp;
      <span class="menu-titles">
        BogotApp
        &nbsp;|&nbsp;
        Integración local
        &nbsp;|&nbsp;
        Eventos locales
        &nbsp;|&nbsp;
        Anuncios
        &nbsp;|&nbsp;
        Denuncias
      </span>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">BogotApp</a></li>
        <li><a href="#services">Cómo funciona</a></li>
        <li><a href="#pricing">Eventos locales</a></li>
        <li><a href="#contact">Anuncios</a></li>
        <li><a href="#portfolio">Denuncias</a></li>
      </ul>
    </div>
  </div>
</nav>