<h3>Eventos</h3>
<p>En esta sección saldrán TODOS los Eventos Pendientes que aún sigan vigentes, según su fecha de expiración (ver opción 'Crea tus mensajes')</p>
<p>
	Entre los Eventos pueden estar los creados tanto por usuarios de la app com los creados por entes del Estado para ofrecer beneficios a la Comunidad.
</p>

<%= image_tag("eventos_ejemplo.png", :alt => "EVENTOS", style:"height: 500px; width: 700px;") %>
<p>
Otros ejemplos:
</p>
<ul>
    <li>Cine al parque en la 93. Dg 27Sur Call 93  | <a href="#" data-toggle="tooltip" data-placement="bottom" title="Añade este Evento a tu Calendario personal en Bogotaapp">Añadir a Mi Calendario</a></li>
	<li>Reunión de capacitación de Testigos electorales</li>
	<li>Cicla nocturna</li>
	<li>Partido de la TRICOLOR en un Parque, C. C. , salón comunal u otros....</li>
</ul>