<h3>Información de <i>Puente Aranda</i> </h3>
<p>Aquí podrás acceder a info pertinente a tu Localidad</p>
<p>
	<%= image_tag("search_text.png", :alt => "Bogotáapp", style:"height: 40px; width: 650px;") %>
</p>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseA">Cómo ganar puntos en Bogotaapp  &nbsp; 
         <span style="" data-toggle="tooltip" data-placement="bottom" title="Mostrar/ocultar"> &#9660; </span>  
        </a>
      </h4>
    </div>
    <div id="collapseA" class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
          <li>Leer timeline: <b>5 puntos al día</b></li>
          <li>Leer tablero de anuncios: <b>15 puntos</b></li>
          <li>Activar notificaciones Push: <b>100 puntos</b></li>
          <li>Convocatorias que acepten +5 personas: <b>30 puntos</b></li>
          <li>Ver videos institucionales: <b>20 puntos</b></li>
          <li>Exámen sobre tu Localidad: <b>50 puntos</b> /1 al mes máximo</li>
          <li>Puntuar servicios también me da puntos a mí </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseB">Histórico Anuncios Emergencia &nbsp;  
         <span style="" data-toggle="tooltip" data-placement="bottom" title="Mostrar/ocultar"> &#9660; </span> 
        </a>
      </h4>
    </div>
    <div id="collapseB" class="panel-collapse collapse">
      <div class="panel-body">
        Aquí se encontrará el histórico del año en curso de todos los Anuncios de Emergencia, 
        los cuales son <b>creados por el ADMIN de la Localidad (puede ser un Edil o un webadmin)</b> 
        para notificar emergencias a los "vecinos" de la localidad: 
        <ul>
          <li>terremotos</li>
          <li>marchas</li>
          <li>bloqueos</li>
          <li>sismos</li>
          <li>peligros de inundaciones</li>
          <li>etc.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Puntos de Encuentros  &nbsp; 
         <span style="" data-toggle="tooltip" data-placement="bottom" title="Mostrar/ocultar"> &#9660; </span> 
         &nbsp;
         <span style="font-size: 38px;" data-toggle="tooltip" data-placement="bottom" title="Crear nuevo">+</span> </a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
        <ul>
          <li>Calle 34 Kr 64 B Bis</li>
          <li>Cl.74 #57 A 21 </li>
          <li>
            Tv. 37 Dg. 67 # 13 (el parque al lado del paradero del Alimentador)
            &nbsp; | &nbsp;
            Registrado por <b>@lucho</b> 
            &nbsp; | &nbsp;
            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Se creará un Mensaje de Agradecimiento público">Dar las gracias</a>
            &nbsp; | &nbsp;
            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Notificar al admin. de la Localidad que esta Notaria es falsa">Reportar incorrecto</a> 
          </li>
        </ul>
        <br/>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Notarias  &nbsp; 
         <span style="" data-toggle="tooltip" data-placement="bottom" title="Mostrar/ocultar"> &#9660; </span> 
         &nbsp;
         <span style="font-size: 38px;" data-toggle="tooltip" data-placement="bottom" title="Crear nuevo">+</span> </a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
          <li>Notaria 10: (telef)123-45-67 - Horario: Lun. a Vie. de 7am. a 3pm.</li>
          <li>Notaria 12: (telef)987-76-65 - Horario: Lun. a Vie. de 8am. a 4pm.</li>
          <li>
            Notaria 56: 823-45-67
            &nbsp; | &nbsp;
            Registrado por <b>@harolEstiven</b> 
            &nbsp; | &nbsp;
            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Se creará un Mensaje de Agradecimiento público">Dar las gracias</a>
            &nbsp; | &nbsp;
            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Notificar al admin. de la Localidad que esta Notaria es falsa">Reportar incorrecto</a> 
          </li>
        </ul>
        <br/>
        (Algunas Notarias serán obtenidas a través de un proceso ETL de la página web: https://www.notariavirtual.com/)
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Teléfonos Cuadrantes Policía  &nbsp; 
         <span style="" data-toggle="tooltip" data-placement="bottom" title="Mostrar/ocultar"> &#9660; </span> 
         &nbsp;
         <span style="font-size: 38px;" data-toggle="tooltip" data-placement="bottom" title="Crear nuevo">+</span> </a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
          <li>CAI Puente Aranda: 123-45-67</li>
          <li>Estación de Policía Puente Aranda: 923-45-67</li>
          <li>
            CAI Galán: 823-45-67 
            &nbsp; | &nbsp;
            Registrado por <b>@gaboDePuenteAranda</b> 
            &nbsp; | &nbsp;
            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Se creará un Mensaje de Agradecimiento público">Dar las gracias</a>
            &nbsp; | &nbsp;
            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Notificar al admin. de la Localidad que este teléf es falso">Reportar incorrecto</a> 
          </li>
        </ul>
        <br/>
        (Algunos números serán obtenidos a través de un proceso ETL de la página web: https://www.datos.gov.co/Seguridad-y-Defensa/NUMEROS-DE-CUADRANTES/saqf-wjui)
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Denuncias Públicas &nbsp; 
         <span style="" data-toggle="tooltip" data-placement="bottom" title="Mostrar/ocultar"> &#9660; </span> 
         &nbsp;
         <span style="font-size: 38px;" data-toggle="tooltip" data-placement="bottom" title="Crear nuevo">+</span>
        </a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">
        <span style="" data-toggle="tooltip" data-placement="bottom" title="Denuncias más votadas">El Periodista eres tú</span>
        <br/>
        En esta sección permanecerán las Denuncias creadas por los usuarios de Bogotaapp, únicamente aquellas
        que han recibido un mínimo de votos (por ejemplo 10) para permanecer en esta sección.
        <br/>
        Algunos ejemplos de Denuncias Públicas son:
        <br/>
        <ul>
          <li><b>@pepito-perez</b> reportó el 12dic2018: un conductor imprudente atropelló un paradero y lo destrozó | <b>28 votos</b> | <a href="#" data-toggle="tooltip" data-placement="bottom" title="Usuario creó video en YouTube, míralo aquí">ver en YouTube</a> </li>
          <li><b>@lucho</b> reportó el 2ene2019: los vecinos con mascotas descuidadas | <b>45 votos</b> </li>
          <li><b>@jairo123</b> reportó el 7nov2018: problemas de vialidad por árboles caídos productos de las fuertes lluvias | <b>34 votos</b> </li>
          <li><b>@harolEstiven</b> reportó el 24dic2018: desbordamiento del río a la altura de la 127 con séptima | <b>72 votos</b> </li>
          <li><b>@gaboDePuenteAranda</b> reportó el 30dic2018: tiradero ilegal de llantas usadas en el potrero de la 56 | <b>55 votos</b> | <a href="#" data-toggle="tooltip" data-placement="bottom" title="Usuario creó video en YouTube, míralo aquí">ver en YouTube</a> </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Museos &nbsp; 
        <span style="" data-toggle="tooltip" data-placement="bottom" title="Mostrar/ocultar"> &#9660; </span> 
         &nbsp;
         <span style="font-size: 38px;" data-toggle="tooltip" data-placement="bottom" title="Crear nuevo">+</span> </a>
      </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body">
        Info de Parques, creados tanto por el Administrador de la Localidad como por los habitantes de la zona
        (Usuarios de Bogotaapp) por si al primero se le pasa ;=)
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Parques  &nbsp; 
          <span style="" data-toggle="tooltip" data-placement="bottom" title="Mostrar/ocultar"> &#9660; </span> 
         &nbsp;
         <span style="font-size: 38px;" data-toggle="tooltip" data-placement="bottom" title="Crear nuevo">+</span> </a>
      </h4>
    </div>
    <div id="collapse6" class="panel-collapse collapse">
      <div class="panel-body">
        Info de Parques, creados tanto por el Administrador de la Localidad como por los habitantes de la zona
        (Usuarios de Bogotaapp).
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">UPZ &nbsp; 
         <span style="" data-toggle="tooltip" data-placement="bottom" title="Mostrar/ocultar"> &#9660; </span> 
        </a>
      </h4>
    </div>
    <div id="collapse7" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Hay 5 UPZ en Puente Aranda:</p>
        <ul>
          <li><b>Ciudad Montes</b>: La Guaca, Bochica, Carabelas, Ciudad Montes, El Sol, Jazmín, Jorge Gaitán Cortés, Villa Inés, La Asunción, La Camelia, Los Comuneros, Ponderosa, Primavera, Remanso, San Eusebio, Santa Matilde, Tibaná y Torremolinos.</li>
          <li><b>Muzú</b>: Alcalá, Alquería, Autopista Sur, La Coruña, Los Sauces, Muzú, Ospina Pérez, Santa Rita, Tejar, Villa del Rosario y Villa Sonia.</li>
          <li><b>San Rafael</b>: Barcelona, Bisas del Galán, Camelia Sur, Colón, Galán, La Pradera, La Trinidad, El Arpay La Lira, Milenta, San Francísco, San Gabriel, San Rafael, San Rafael Industrial y Salazar Gomez .</li>
          <li><b>Zona Industrial</b>: Cundinamarca, El Ejido, Gorgonzola, Industrial Centenario, La Florida Occidental, Los Ejidos y Pensilvania.</li>
          <li><b>Puente Aranda</b>: Batallón Caldas, Centro Industrial, Ortezal y Puente Aranda.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">Eventos "Bogotá Mejor para Todos" &nbsp; 
         <span style="" data-toggle="tooltip" data-placement="bottom" title="Mostrar/ocultar"
          onclick="javascript:mostrar1punto('Gracias por interesarte por los Eventos de tu Localidad... Has ganado 1 punto. Sigue así!');"> &#9660; </span> 
         &nbsp;
        </a>
      </h4>
    </div>
    <div id="collapse8" class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
          <li><b>Jornada de Vacunación canina</b>: Evento en direción X con carrera Y de 8am. a 2pm. Los Esperamos!
          <li><b>Cine al Parque</b>: Para los pequeñines de la casa. Zootopia en parque Ciudad Montes mañana a las 3pm. Entrada libre</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">Actividades en la Localidad &nbsp; 
         <span style="" data-toggle="tooltip" data-placement="bottom" title="Mostrar/ocultar"> &#9660; </span> 
         <span style="font-size: 38px;" data-toggle="tooltip" data-placement="bottom" title="Crear nuevo">+</span> </a>
      </h4>
    </div>
    <div id="collapse9" class="panel-collapse collapse">
      <div class="panel-body">
        Eventos creados por los Usuarios, algunos ejemplos pueden ser:
        <br/>
        <ul>
          <li>Torneos locales de futbol-5</li>
          <li>Carnavales</li>
          <li>Jornadas Ecológicas</li>
          <li>Vuelos de Cometas</li>
          <li>Reinados locales</li>
          <li>Obras de teatro infantiles o al aire libre</li>
          <li>Aeróbicos al parque</li>
          <li>Ciclo rutas nocturnas</li>
          <li>... y más ...</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">Puestos de Votación y Testigos electorales &nbsp; 
         <span style="" data-toggle="tooltip" data-placement="bottom" title="Mostrar/ocultar"> &#9660; </span> 
         &nbsp;
         <span style="font-size: 38px;" data-toggle="tooltip" data-placement="bottom" title="Crear nuevo">+</span> </a>
      </h4>
    </div>
    <div id="collapse10" class="panel-collapse collapse">
      <div class="panel-body">
        Convocatorias abiertas al público en general que harán parte de los Jurados de mesa, reuniones en salones de JAL, etc...
      </div>
    </div>
  </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
