<h5>
	Anuncios: ya por haber entrado acá a ver los anuncios de tus <i>vecinos</i> has ganado 
	<b> 5 <i>puntos</i> </b> el día de hoy.
</h5>

<p>
	Aquí podrán existir varios tipos de Anuncios (son los mismos Servicios):
	<ul>
		<li>
			Servicios creados por los usuarios de la app (sección Crea Tus mensajes). Durarán hasta que venzan, según el tipo de anuncio
		</li>
		<li>
			Servicios creados por Patrocinantes (cuentas Premium). Como por ejemplo una cadena como Exito o 'Salón de onces Donde Manuel' podrá añadir sus anuncios acá
		</li>
		<li>
			Crea tus propios anuncios o servicios locales con nosotros, recuerda: <strong>"El que tiene tienda que la atienda!"</strong> 
		</li>
	</ul>
</p>
<br/>
<br/>
<span style="text-decoration: overline; color: palevioletred;" data-toggle="tooltip" data-placement="bottom" title="Reclama tu Premio"
    onclick="javascript:mostrar1punto('Gracias por revisar los Anuncios de tu Localidad... Has ganado 15 puntos. Recuerda que puedes crear los tuyos también!');"> &#x25BA; Obtener tu Premio por haber visitado los Anuncios
</span> 