<h3>TimeLine o Mensajes</h3>
<%= image_tag("timeline_ejemplo.png", :alt => "EVENTOS", style:"height: 800px; width: 800px;") %>
<hr/>
<p>
    Otros ejemplos de Mensajes (con o sin Foto):
    <ul>
        <li>
            Anuncios importantes del Estado, como por ejemplo un Corte de Agua o luz en algún sector de la Localidad, cursos de Bogota Aprende TIC, etc.
        </li>
        <li>
            Convocatorias y Eventos creados por los Administradores de la Localidad
        </li>
        <li>
            Anuncios de Emergencia (priorizados)
        </li>
    </ul>
</p>
<hr/>
<h3>Leyenda:</h3>
<div class="row">
  <div class="col-sm-12">
    En cada Mensaje o Anuncio, podrás:
    <br/>
    <strong>Corazon Amarillo</strong>: Dar Me Gusta a éste mensaje.
    <br/>
    <strong>Signo más Azul</strong>: Añadir este Evento a <b>Mi Calendario</b>.
    <br/>
    <strong>Comentario rojo</strong>: Responder a este mensaje (redime 1 punto).
    <br/>
    <strong>Num 5</strong>: veces que le han dado Me Gusta los otros Vecinos.
    <br/>
    <strong>Num. 10</strong>: respuestas que posee éste mensaje.
    <br/>
  </div>
</div>
<br/>
<span style="text-decoration: overline; color: palevioletred;" data-toggle="tooltip" data-placement="bottom" title="Reclama tu Premio"
    onclick="javascript:mostrar1punto('Gracias por revisar los Anuncios de tu Localidad... Has ganado 5 puntos. Recuerda que puedes crear los tuyos también!');"> &#x25BA; Obtener tu Premio por haber visitado los Mensajes
</span> 